.about-container {
	padding-top: 15rem;
	margin: 0 auto;
	width: 100%;
}
.about-left-box {
	position: relative;
	background-image: url('../Media/Images/gatePic.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 45%;
	height: 400px;
}

.landing-nav-menu {
	position: absolute;
	list-style-type: none;
	margin: 1rem 0 0 10rem;
}
.landing-nav-menu h1 {
	font-size: 4rem;
	font-family: 'Scope One', 'serif';
	-webkit-text-stroke: 0.6px black;
	text-decoration: underline grey 2px;
	text-underline-offset: 10px;
	color: white;
	margin: 0 0 -0.3em 0;
}

.landing-text-container h1 {
	color: black;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 100;
	font-size: 2.4em;
	line-height: 1.5em;
	margin: auto;
	text-align: center;
	width: 45%;
}
.landing-text-container button {
	margin-top: 25px;
	padding: 15px 25px 15px 25px;
	border: solid black 2px;
	border-radius: 5px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 15px;
}
.landing-text-container button:hover {
	background-color: grey;
	color: white;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-row-gap: 100px;
	color: black;
}

.open-statement-container {
	grid-area: 1 / 1 / 2 / 3;
	background-color: rgb(245, 245, 230);
	height: 450px;
	padding-top: 100px;
	position: relative;
	text-align: center;
}
.about-text-container {
	grid-area: 2 / 1 / 3 / 2;
	margin-left: 200px;
	height: 550px;
}
.about-pic {
	grid-area: 2 / 2 / 3 / 3;
}
.about-pic img {
	height: 100%;
	margin-left: 100px;
}
.FAQ-pic {
	grid-area: 3 / 1 / 4 / 2;
	margin-left: 300px;
}
.FAQ-pic img {
	height: 100%;
}
.FAQ-text {
	grid-area: 3 / 2 / 4 / 3;
	margin-right: 100px;
	height: 550px;
	padding-top: 100px;
}
.close-statement-container {
	grid-area: 4 / 1 / 5 / 3;
	height: 100px;
	background-color: rgb(245, 245, 230);
	padding-top: 100px;
	margin-bottom: -100px;
	height: 375px;
	text-align: center;
}

.about-us-title {
	padding: 70px 0 30px;
	color: black;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 100;
	font-size: 3.4em;
	line-height: 1.5em;
	margin: auto;
	text-align: center;
	width: 100%;
}
.about-us-text {
	color: black;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 100;
	font-size: 1.9em;
	line-height: 1.5em;
	margin: auto;
	text-align: center;
}
.about-us-link {
	padding-top: 10px;
	color: grey;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-decoration: underline;
	text-underline-offset: 10px;
	font-weight: 100;
	font-size: 2em;
	line-height: 1.5em;
	width: 100%;
	margin: auto;
	text-align: center;
}

.FAQ-title {
	padding: 60px 0 30px;
	color: black;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 100;
	font-size: 3.4em;
	line-height: 1em;
	margin: auto;
	text-align: center;
	width: 45%;
}
.FAQ-body-text {
	color: black;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 100;
	font-size: 1.9rem;
	line-height: 1.5em;
	margin: auto;
	text-align: center;
	width: 45%;
}

.FAQ-text span {
	color: grey;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-decoration: underline;
	text-underline-offset: 7px;
	font-weight: 100;
	font-size: 1.9rem;
}

#tail-text-h1 {
	padding-top: 30px;
}

/* RESPONSIVE */
@media (max-width: 1700px) {
	.landing-text-container h1 {
		width: 75%;
	}
	.about-text-container {
		grid-area: 2 / 1 / 3 / 2;
		margin-left: 0px;
		height: 550px;
		padding-left: 10%;
	}

	.about-text-container h1 {
		width: 50%;
	}
	.about-pic img {
		margin: 0 0 0 0px;
		height: 100%;
	}
	.landing-text-container {
		width: 100vw;
	}
	.landing-text-container h1 {
		font-size: 2.5em;
	}
}
@media (max-width: 1500px) {
	.about-text-container {
		height: 450px;
		padding: 0 0 0 10%;
		margin: 0 0 0 0;
	}
	.about-text-container h1 {
		width: 75%;
	}
	.about-us-title {
		padding: 5% 0 0 0;
	}
}

@media (max-width: 1350px) {
	.about-text-container {
		margin-left: 0px;
		height: 350px;
		padding-left: 10%;
	}
	.about-text-container {
		margin: 0 0 0 0;
	}
	.about-text-container h1 {
		width: 90%;
	}
}
@media (max-width: 1200px) {
	.about-left-title {
		font-size: 12rem;
		line-height: 6rem;
	}
	.about-left-description {
		font-size: 1.5rem;
	}
}
@media (max-width: 1100px) {
	.about-left-title {
		font-size: 12rem;
		line-height: 6rem;
	}
	.about-container {
		margin-top: 6em;
		padding: 3.5rem 0 5rem 2rem;
	}
	.about-right-box {
		padding-right: 5rem;
	}
}
@media (max-width: 950px) {
	.about-left-title {
		font-size: 9rem;
		line-height: 8.25rem;
	}
	.about-container {
		align-items: center;
		justify-content: center;
	}
	.about-left-box {
		width: 100%;
	}
	.about-container {
		flex-direction: column;
	}
	.about-left-box {
		padding-left: 0rem;
		font-size: 10px;
	}
}
@media (max-width: 650px) {
	.about-left-button-box {
		padding-right: 0;
	}
	.about-left-box {
		/* margin: 1em 0; */
		font-size: 12px;
	}
	.about-container {
		min-height: 0;
	}
	.about-left-title {
		font-size: 6.5rem;
		line-height: 6rem;
	}
	.about-left-description {
		font-size: 1.5rem;
	}
	.about-contact-button {
		font-size: 15px;
		line-height: 45px;
		height: 45px;
		width: 165px;
	}
}
@media (max-width: 480px) {
	.about-left-title:before {
		margin-top: -3.35rem;
	}
	.about-left-title {
		font-size: 5rem;
		line-height: 4.5rem;
	}
	.about-left-title:after {
		margin-top: 1.25rem;
		margin-left: 0.5rem;
	}
	.about-left-description {
		font-size: 1.35rem;
		letter-spacing: 2px;
	}
	.about-contact-button {
		font-size: 11px;
		line-height: 42px;
		letter-spacing: 2px;
		height: 43px;
		width: 140px;
	}
}
@media (max-width: 390px) {
	.about-right-box {
		width: 100%;
	}
	.about-left-box h1 {
		font-size: 3rem;
		padding-left: 0;
	}
	.about-left-title:before {
		margin-top: -3.125rem;
	}
	.about-left-title {
		font-size: 3.75rem;
		line-height: 4.5rem;
	}
	.about-left-title:after {
		margin-top: 1.35rem;
	}
	.about-left-description {
		font-size: 1.25rem;
		width: 80%;
		padding-left: 0.2rem;
		padding-right: 0;
		margin-right: 0;
	}
	.about-contact-button {
		font-size: 10px;
		line-height: 38px;
		align-self: start;
	}
	.about-left-button-box {
		display: inline-block;
		flex-direction: column;
		align-items: left;
	}
}
